input,
select,
textarea {
    background-color: $white;
    border: 1px solid #eaeaea;
    color: $dark-gray;
    font-size: $default-size;
    font-weight: 400;
    padding: $padding * 0.5;
    width: 100%;
}

::placeholder {
    color: #333;
    opacity: 1;
}

input {
    &:focus {
        border: 1px solid #999;
        outline: none;
    }

    &[type='search'] {
        -webkit-appearance: textfield;
        outline-offset: -2px;
    }
    &[type='checkbox'],
    &[type='image'],
    &[type='radio'] {
        width: auto;
    }
}

label {
    font-weight: 700;
    .gfield_checkbox li &,
    .gfield_radio li & {
        font-weight: 400;
    }
}

form {
    ul {
        li {
            list-style: none;
        }
    }
}

.gfield_required {
    color: #790000;
    margin-left: 4px;
}
